* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    text-align: center;
}

h2 {
}

main section {
    padding: 2rem;
}

#products {
    background-color: beige;
}



.gallery {
    display: flex;
    justify-content: center;
    margin: 1rem;
    width: 100%;
}

.gallery .image-wrap {

}


#team {

}

.teammate {

}