* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Helvetica, sans-serif;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
}

header {
    height: 69px;
    width: 100%;
    background-color: black;
    border-bottom: 1px solid seashell;
    padding: 0 10px;
    
    position: fixed;
    top: 0px;
    z-index: 40;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img {
    height: 50px;
    width: auto;
}

nav ul {
    display: inline-flex;
}

nav ul li {
    list-style: none;
    margin: 0 10px;
}

nav ul li a {
    color: seashell;
    text-decoration: underline;
}

main {
    position: relative;
    top: 69px;
}

#mission {
    height: 700px;
    width: 100%;

    background-image: url("/resources/images/img-mission-background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

#mission h2, #mission h4 {
    background-color: black;
    padding: 8px 0;
}