/* Breakpoints:
    Less than 535px - When the navigation gets cut off
    Less than 657px - When the gallery appears to have only one column of cards
*/


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Helvetica, sans-serif;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
}

header {
    height: 102px;
    width: 100%;
    background-color: black;
    border-bottom: 1px solid seashell;
    padding: 0 10px;
    
    position: fixed;
    top: 0px;
    z-index: 40;
    
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-end;
}


@media only screen and (min-width: 535px) {
    header {
        height: 69px;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
    }
} 


header img {
    height: 50px;
    width: auto;
}

nav ul {
    display: inline-flex;
}

nav ul li {
    list-style: none;
    margin: 0 10px;
}

nav ul li a {
    color: seashell;
    text-decoration: underline;
}

main {
    position: relative;
    top: 102px;
}

#mission {
    height: 700px;
    width: 100%;

    background-image: url("/resources/images/img-mission-background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

#mission h2, #mission h4 {
    background-color: black;
    padding: 8px 0;
}

#featured {
    padding-top: 102px;
}

@media only screen and (min-width: 535px) {
    main {
        top: 69px;
    }

    #featured {
        padding-top: 69px;
    }
}

.gallery {
    max-width: 1000px;
    margin: 0 auto;
    padding-top: 69px;
    display: flex;
    flex-wrap: wrap;
}

.gallery .card {
    margin-bottom: 69px;
}

@media only screen and (min-width: 535px) {
    .gallery {
        justify-content: center;
    }
    .gallery .card {
        width: 45%;
        margin-left: 10px;
        margin-right: 10px;
    }
}

@media only screen and (min-width: 657px) {
    .gallery .card{
        width: 30%;
        max-width: 300px;
    }
}

.card .image {
    max-height: 300px;
    overflow: hidden;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.card .image img {
    width: 75%;
    height: auto;
    margin-bottom: 10px;
}

@media only screen and (min-width: 535px) {
    .card .image img {
        width: 100%;
    }
}

@media only screen and (min-width: 657px) {
    .card .image img {
        max-width: 300px;
        max-height: 200px;
    }
}
